<!doctype html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="/site/build/style.min.css">
  <link rel="stylesheet" href="/site/build/additional.css">
  <meta name="theme-color" content="#006A98">
  <title>{% block pageTitle %}{% endblock %}</title>
  <link rel="icon" type="image/png" href="/site/favicon.png">
</head>
<body>

<header class="main-header">
  {% if backend.token %}
  <div class="wrapper">
    <p class="main-header-logout">
      <a href="/logout/">Выйти</a>
    </p>
  </div>
  {% endif %}
  <a href="/" class="main-header-logo">
    <img src="/site/images/logo.png" alt="Горизонты">
  </a>
</header>

<main>
  <div class="wrapper m-b-xl">
    {% block content %}{% endblock %}
  </div>
</main>

<script src="/site/build/scripts.min.js"></script>
<script src="/site/build/additional.js"></script>
</body>
</html>