<nav class="navbar-default navbar-static-side" role="navigation">
  <div class="sidebar-collapse">
    <ul class="nav metismenu">

      <li class="nav-header">
        <h3 class="application-title">Test</h3>
      </li>
      <li {% if selected == 'dashboard' %}class="active"{% endif %}>
        <a href="/"><span class="nav-label">Dashboard</span></a>
      </li>
    </ul>

    <ul class="nav metismenu" id="collections-list">
      <li>
        <a href="/schemas/new/">
          <b>New Schema</b>
        </a
      </li>
      <li>
        <a href="/schemas/">
          <b>All Schemas</b>
        </a
      </li>

      {% for schema in schemas %}
        <li {% if selected == schema.id %}class="active"{% endif %}>
          <a href="/{{ schema.id }}/"><span class="nav-label">{{ schema.id }}</span></a>
        </li>
      {% endfor %}
    </ul>
    <ul class="nav metismenu">
           
      <li>
        <a href="/schemas/new/">Users</a>
      </li>      
      <li>
        <a href="/schemas/new/">Roles</a>
      </li>      
      <li>
        <a href="/schemas/new/">Settings</a>
      </li>
    </ul>
  </div>
</nav>