{% extends "page.twig" %}

{% block pageTitle %}Error{% endblock %}

{% block content %}

  <div class="ibox float-e-margins">
    <h2 class="error-message">Element is not found</h2>
  </div>

{% endblock %}