#collections-list>li>a {
  font-weight: normal;
  color: #a7b1c2;
}

#collections-list>li>a>b{
  color: #fefefe;
}

.nav>li>a{
  color: #fefefe;
}

@media (min-width: 768px){
  #page-wrapper {
    min-height: 100vh;
  }
}

.table {
  table-layout: fixed;
}

.table>tbody>tr>td {
  overflow-x: hidden;
}
.table>thead>tr>th {
  overflow-x: hidden;
}

.buttons-group {
  margin: 5px 0 20px;
}

.error-message {
  text-align: center;
  margin-top: 40vh;
}