{% extends "page.twig" %}

{% block pageTitle %}Files search result{% endblock %}

{% block content %}

    <div class="wrapper wrapper-content">

        <div class="ibox float-e-margins">
            <h2 class="error-message">File is not found</h2>
        </div>

    </div>

{% endblock %}