{% extends "page.twig" %}

{% block pageTitle %}Files search result{% endblock %}

{% block breadcrumbs %}
    <div class="col-lg-10">
        <h2>Files</h2>
        <ol class="breadcrumb">
            <li>
                <a href="/">Dashboard</a>
            </li>
            <li>
                <a href="/files">All files</a>
            </li>
            <li class="active">
                <strong>Search result</strong>
            </li>
        </ol>
    </div>
{% endblock %}

{% block content %}

    <div class="ibox float-e-margins">
        <div class="ibox-title">
            <h5>Files</h5>
        </div>

        <div class="ibox-content">
            <div id="file-content">
                <file-table :init-sort-field="'{{ sortField }}'" :init-sort-order="'{{ sortOrder }}'" :file-list="{{ files|json_encode() }}"></file-table>
            </div>
        </div>
    </div>

    <script src="{{ asset('/js/files.js') }}"></script>

{% endblock %}