{% extends "site/page.twig" %}

{% block pageTitle %}Мобильное приложение форума «Горизонты»{% endblock %}

{% block content %}

  <div class="form-block m-b-lg">
    <div class="form-block-padding" style="padding-top: 60px; padding-bottom: 60px; text-align: center;">
      <p>Редактирование данных запрещено</p>
    </div>
  </div>

{% endblock %}